<div id="page-header">
  <nav>
    <div class="logo-bg" [routerLink]="['./']">
      <img class="logo" src="/assets/logo.svg" alt="Trendings"/>
    </div>
    <div class="opened-module-title">
      {{title$ | async}}
    </div>
    <!-- here I change button  -->
    <button mat-button class="menu-toggle" *ngIf="settBTN" (click)="filterSlideOpen.open()">
      <mat-icon>settings</mat-icon>
    </button>
  </nav>
</div>
