<div id="youtube" *ngIf="videos; else loadingOrError">
  <div class="row">
    <div class="card-container"
         *ngFor="let video of videos">
      <app-video-component [video]="video"></app-video-component>
    </div>
  </div>
  <!-- I added no more videos side -->
  <div class="finished-videos" *ngIf="finishedVideos">
    no more videos
  </div>
</div>
<!-- I added this loading -->
<div class="infinite-Scroll-loading" *ngIf="infiniteLoad">
  <div class="spinner"></div>
</div>

<ng-template #loadingOrError>
  <div class="error-plate" *ngIf="loadingError$ | async; else loading">
    <mat-icon>warning</mat-icon>
    <span>Error loading. Please try again later.</span>
  </div>

  <ng-template class="gl-loading showLoading" #loading>
    <div class="spinner"></div>
  </ng-template>
</ng-template>

<!-- I add infinite scroll html -->
<div
  class="search-results"
  infiniteScroll
  infiniteScrollDistance="2"
  infiniteScrollThrottle="50"
  infiniteScrollContainer=".inf_scr_class"
  fromRoot="true"
  (scrolled)="onScroll()"
>
</div>
