<!-- 
  here I added bla-bla-blu class for infinite scroll
  and I added filterslideclose
 -->
<mat-sidenav-container>
  <mat-sidenav mode="over"
               position="end"
               [fixedInViewport]="true"
               [autoFocus]="false"
               #filterSlide>
    <app-slide-filters [filterSlideClose]="filterSlide"></app-slide-filters>
  </mat-sidenav>

  <mat-sidenav-content class="inf_scr_class">
    <app-page-header [filterSlideOpen]="filterSlide"></app-page-header>
    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>
