<!-- here I added close button -->
<h3 class="title">
  Filters
  <button mat-icon-button (click)="filterSlideClose.close()">
    <mat-icon>close</mat-icon>
  </button>
</h3>
<mat-form-field>
  <input id="countrySelect"
         type="text"
         placeholder="Select Country"
         aria-label="Country"
         matInput
         [formControl]="countryFormControl"
         [matAutocomplete]="countryAuto">
         <!-- here I change mat autocomplate -->
  <mat-autocomplete #countryAuto="matAutocomplete" (optionSelected)="viewByCountry($event.option.value)" [displayWith]="countryDisplayFn">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-form-field>
  <input id="categorySelect"
         type="text"
         placeholder="Select Category"
         aria-label="Category"
         matInput
         [formControl]="categoryFormControl"
         [matAutocomplete]="categoryAuto">
  <mat-autocomplete #categoryAuto="matAutocomplete" (optionSelected)="viewByCategory($event.option.value)">
    <mat-option *ngFor="let category of categoriesList" [value]="category.name">
      {{category.name}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

